@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;

}

body{
    background-color: gray;
    line-height: 3em;
}

header{
    font-family: sans-serif;
    background-color: rgb(71, 23, 23);
    text-align: center;
    padding: 35px;
}
header > h1{
    font-size: 300%;
}
section{
    font-family: cursive, sans-serif;
    padding: 10vh 0px 10vh 50px;
    font-size: 1.5em;
}

footer{
    font-family: sans-serif;
    color: white;
    background-color: black;
    text-align: center;
    font-size: 1.1em;
}

br{
    margin: 10px;
}

a{
    color: black;
    transition: 0.180s;
}

a:hover{
    color: gray;
    text-decoration: underline;
}

.fundo > p{
    color: white;
    background-color: rgba(44, 44, 44, 0.404);
    width: 400px;
}

.normal{
    background-color: white;
    box-shadow: 0px 0px 11px 4px rgb(0, 0, 0);
}

#img1{
    background: black url(imagens/ladybug-313162_1280.jpg) center center no-repeat fixed;
    background-size: cover;
    
}

#img2{
    background: black url(imagens/debby-hudson-enNl3McVwSI-unsplash-scaled.jpg) center center no-repeat fixed;
    background-size: cover;
}